# Data - too large for git
data/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

#Images
*.png
*.jpg

# IDE
.vscode/
.idea/

# Model outputs (can regenerate)
outputs/models/*.pth
outputs/models/*.pt